<p id="notice"><%= notice %></p>

<article>
  <div class="col-xs-3 col-md-3 boot">
    <h3>かだいかだいかだい</h3>
      <ul class="row">
        <li>contents1</li>
        <li>contents2</li>
        <li>contents3</li>
        <li>contents4</li>
      </ul>
  </div>
  
  <div class="col-xs-3 col-md-3 boot">
    <h3>kadaikadai</h3>
      <ul class="row">
        <li>contents1</li>
        <li>contents2</li>
        <li>contents3</li>
        <li>contents4</li>
      </ul>
  </div>
  
  <div class="col-xs-3 col-md-3 boot">
    <h3>งานงานงาน</h3>
      <ul class="row">
        <li>contents1</li>
        <li>contents2</li>
        <li>contents3</li>
        <li>contents4</li>
      </ul>
  </div>
  
  <div class="col-xs-3 col-md-3 boot">
    <h3>လုပ်ငန်းလုပ်ငန်းလုပ3ငန်း</h3>
      <ul class="row">
        <li>contents1</li>
        <li>contents2</li>
        <li>contents3</li>
        <li>contents4</li>
      </ul>
  </div>    
</article>




